<!-- Default Homepage -->
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class ="col-sm-12">
      <h3 class="text-center"> Welcome to iNaturalistGo </h3>
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class="btn-group-vertical" text-align="center">
        <a href="../login" type="button" class="btn btn-secondary btn-block mb-1" role="button"> Login </a>
        <a href="../register" type="button" class="btn btn-secondary btn-block mb-1"> Create Account </a>
       <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google Login</a>
    </div>
  </div>
</div>

{% endblock %}
