{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="row justify-content-center">
  <h2> iNaturalistGo - Register </h2>
</div>
<hr>
<div class="row justify-content-center">
	<form method="POST">
    	{% csrf_token %}
        {{ form | crispy }}
        <div class="row justify-content-center">
        	<button class="btn btn-outline-info" type="submit"> Sign Up</button>
        </div>
    </form>
</div>
<div class="row justify-content-center">
	<small class="text-muted">Already have an account? <a class="ml-2" href="../login">Sign In</a></small>
</div>
{% endblock content%}
